[Unit]
Description=Early guest initialization
Documentation=https://github.com/akamac/cloud-init
DefaultDependencies=no
Before=sysinit.target network-pre.target
Wants=network-pre.target
After=systemd-remount-fs.service dev-cdrom.device
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
Restart=no
Environment=RUNLEVEL=1
#ExecStart=/usr/bin/python3 -m cloudinit
ExecStart=/usr/local/bin/cloud-init
StandardOutput=journal+console

[Install]
RequiredBy=network.target
#WantedBy=sysinit.target